.sidebar-bg {
/* background: #901ADD;
background: -webkit-radial-gradient(top left, #901ADD, #AE97E5);
background: -moz-radial-gradient(top left, #901ADD, #AE97E5);
background: radial-gradient(to bottom right, #901ADD, #AE97E5); */
background: #112240;
border-right: 1px solid #64ffda;
padding-left: 1em;
padding-right: 1em;
width: 360px;
color: white;
height: 100vh;
box-shadow: 0 0 10px #000000;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
}

.currentSelection {
  color: #64ffda;
}